{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11548"
      },
      "ResponseBody": {
        "id": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "ab716eee-96d3-4021-9fa7-1b01da5de034",
        "tenantId": "6d1de6b2-88b7-42b6-9b3e-89a4351d16b4",
        "displayName": "Visual Studio Professional \u8BA2\u9605",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourcegroups/Default-AppConfiguration-7444?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1049"
      },
      "ResponseBody": {
        "id": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/Default-AppConfiguration-7444",
        "name": "Default-AppConfiguration-7444",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/Default-AppConfiguration-7444/providers/Microsoft.AppConfiguration/configurationStores/testapp-3441?api-version=2021-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "publicNetworkAccess": "Disabled"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/a110ad86-2c9f-e654-2a62-8b8fd8f81d66?api-version=2021-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1048"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus",
        "properties": {
          "provisioningState": "Creating",
          "creationDate": "2022-02-24T04:15:58.3922287\u002B00:00",
          "endpoint": null,
          "encryption": null,
          "privateEndpointConnections": null,
          "disableLocalAuth": null,
          "softDeleteRetentionInDays": null,
          "enablePurgeProtection": null
        },
        "sku": {
          "name": "Standard"
        },
        "systemData": null,
        "id": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/Default-AppConfiguration-7444/providers/Microsoft.AppConfiguration/configurationStores/testapp-3441",
        "name": "testapp-3441",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/a110ad86-2c9f-e654-2a62-8b8fd8f81d66?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/a110ad86-2c9f-e654-2a62-8b8fd8f81d66?api-version=2021-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11547"
      },
      "ResponseBody": {
        "id": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/a110ad86-2c9f-e654-2a62-8b8fd8f81d66",
        "name": "a110ad86-2c9f-e654-2a62-8b8fd8f81d66",
        "status": "Succeeded",
        "error": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/Default-AppConfiguration-7444/providers/Microsoft.AppConfiguration/configurationStores/testapp-3441?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022a6008402-0000-0100-0000-6217067f0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11546"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded",
          "creationDate": "2022-02-24T04:15:58\u002B00:00",
          "endpoint": "https://testapp-3441.azconfig.io",
          "encryption": {
            "keyVaultProperties": null
          },
          "privateEndpointConnections": null,
          "publicNetworkAccess": "Disabled",
          "disableLocalAuth": false,
          "softDeleteRetentionInDays": 7,
          "enablePurgeProtection": false
        },
        "sku": {
          "name": "standard"
        },
        "systemData": {
          "createdBy": "bd84958d-be52-466e-a83e-99a66eae9864",
          "createdByType": "Application",
          "createdAt": "2022-02-24T04:15:58\u002B00:00",
          "lastModifiedBy": "bd84958d-be52-466e-a83e-99a66eae9864",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-02-24T04:15:59\u002B00:00"
        },
        "id": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/default-appconfiguration-7444/providers/Microsoft.AppConfiguration/configurationStores/testapp-3441",
        "name": "testapp-3441",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/Default-AppConfiguration-7444/providers/Microsoft.Network/virtualNetworks/vnetname6139?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "subnetname2540",
              "properties": {
                "addressPrefix": "10.0.0.0/24",
                "privateEndpointNetworkPolicies": "Disabled"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/providers/Microsoft.Network/locations/eastus/operations/2c221c7d-ae8c-419e-b241-d494604eb078?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1047"
      },
      "ResponseBody": {
        "name": "vnetname6139",
        "id": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/Default-AppConfiguration-7444/providers/Microsoft.Network/virtualNetworks/vnetname6139",
        "etag": "W/\u0022912a2d11-f64b-46e4-ab43-f5d9eed9f036\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "f890ca6e-3f02-4ce4-9487-ca18e1313c69",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "subnetname2540",
              "id": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/Default-AppConfiguration-7444/providers/Microsoft.Network/virtualNetworks/vnetname6139/subnets/subnetname2540",
              "etag": "W/\u0022912a2d11-f64b-46e4-ab43-f5d9eed9f036\u0022",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.0.0.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/providers/Microsoft.Network/locations/eastus/operations/2c221c7d-ae8c-419e-b241-d494604eb078?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11545"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/Default-AppConfiguration-7444/providers/Microsoft.Network/privateEndpoints/endpointxyz6346?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "subnet": {
            "id": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/Default-AppConfiguration-7444/providers/Microsoft.Network/virtualNetworks/vnetname6139/subnets/subnetname2540",
            "properties": {}
          },
          "privateLinkServiceConnections": [
            {
              "name": "myconnection",
              "properties": {
                "privateLinkServiceId": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/default-appconfiguration-7444/providers/Microsoft.AppConfiguration/configurationStores/testapp-3441",
                "groupIds": [
                  "configurationStores"
                ],
                "requestMessage": "Please approve my connection"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/providers/Microsoft.Network/locations/eastus/operations/01415138-1e3d-4635-af3e-4a732ac3c074?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-Afte[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/default-appconfiguration-7444/providers/Microsoft.AppConfiguration/configurationStores/testapp-3441/privateEndpointConnections?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11537"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
            "properties": {
              "provisioningState": "Succeeded",
              "privateEndpoint": {
                "id": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/Default-AppConfiguration-7444/providers/Microsoft.Network/privateEndpoints/endpointxyz6346"
              },
              "privateLinkServiceConnectionState": {
                "status": "Approved",
                "description": "Auto-Approved"
              }
            },
            "id": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/default-appconfiguration-7444/providers/Microsoft.AppConfiguration/configurationStores/testapp-3441/privateEndpointConnections/myconnection",
            "name": "myconnection"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/default-appconfiguration-7444/providers/Microsoft.AppConfiguration/configurationStores/testapp-3441/privateEndpointConnections/myconnection?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11536"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores/privateEndpointConnections",
        "properties": {
          "provisioningState": "Succeeded",
          "privateEndpoint": {
            "id": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/Default-AppConfiguration-7444/providers/Microsoft.Network/privateEndpoints/endpointxyz6346"
          },
          "privateLinkServiceConnectionState": {
            "status": "Approved",
            "description": "Auto-Approved"
          }
        },
        "id": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/default-appconfiguration-7444/providers/Microsoft.AppConfiguration/configurationStores/testapp-3441/privateEndpointConnections/myconnection",
        "name": "myconnection"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "719651345",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "ab716eee-96d3-4021-9fa7-1b01da5de034"
  }
}
