{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11821"
      },
      "ResponseBody": {
        "id": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "ab716eee-96d3-4021-9fa7-1b01da5de034",
        "tenantId": "6d1de6b2-88b7-42b6-9b3e-89a4351d16b4",
        "displayName": "Visual Studio Professional \u8BA2\u9605",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourcegroups/Default-AppConfiguration-2851?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1157"
      },
      "ResponseBody": {
        "id": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/Default-AppConfiguration-2851",
        "name": "Default-AppConfiguration-2851",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/Default-AppConfiguration-2851/providers/Microsoft.AppConfiguration/configurationStores/testapp-5964?api-version=2021-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "publicNetworkAccess": "Disabled"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/ab4f1767-d470-1b71-5c56-3ea47ac4dcf9?api-version=2021-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1156"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus",
        "properties": {
          "provisioningState": "Creating",
          "creationDate": "2022-02-24T03:56:22.5570821\u002B00:00",
          "endpoint": null,
          "encryption": null,
          "privateEndpointConnections": null,
          "disableLocalAuth": null,
          "softDeleteRetentionInDays": null,
          "enablePurgeProtection": null
        },
        "sku": {
          "name": "Standard"
        },
        "systemData": null,
        "id": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/Default-AppConfiguration-2851/providers/Microsoft.AppConfiguration/configurationStores/testapp-5964",
        "name": "testapp-5964",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/ab4f1767-d470-1b71-5c56-3ea47ac4dcf9?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/ab4f1767-d470-1b71-5c56-3ea47ac4dcf9?api-version=2021-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11820"
      },
      "ResponseBody": {
        "id": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/ab4f1767-d470-1b71-5c56-3ea47ac4dcf9",
        "name": "ab4f1767-d470-1b71-5c56-3ea47ac4dcf9",
        "status": "Succeeded",
        "error": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/Default-AppConfiguration-2851/providers/Microsoft.AppConfiguration/configurationStores/testapp-5964?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022a500b169-0000-0100-0000-621701e70000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11819"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded",
          "creationDate": "2022-02-24T03:56:22\u002B00:00",
          "endpoint": "https://testapp-5964.azconfig.io",
          "encryption": {
            "keyVaultProperties": null
          },
          "privateEndpointConnections": null,
          "publicNetworkAccess": "Disabled",
          "disableLocalAuth": false,
          "softDeleteRetentionInDays": 7,
          "enablePurgeProtection": false
        },
        "sku": {
          "name": "standard"
        },
        "systemData": {
          "createdBy": "bd84958d-be52-466e-a83e-99a66eae9864",
          "createdByType": "Application",
          "createdAt": "2022-02-24T03:56:22\u002B00:00",
          "lastModifiedBy": "bd84958d-be52-466e-a83e-99a66eae9864",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-02-24T03:56:23\u002B00:00"
        },
        "id": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/default-appconfiguration-2851/providers/Microsoft.AppConfiguration/configurationStores/testapp-5964",
        "name": "testapp-5964",
        "tags": {}
      }
    },
[...]
