{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11930"
      },
      "ResponseBody": {
        "id": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "ab716eee-96d3-4021-9fa7-1b01da5de034",
        "tenantId": "6d1de6b2-88b7-42b6-9b3e-89a4351d16b4",
        "displayName": "Visual Studio Professional \u8BA2\u9605",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "MSDN_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourcegroups/Default-AppConfiguration-7621?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "id": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/Default-AppConfiguration-7621",
        "name": "Default-AppConfiguration-7621",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/Default-AppConfiguration-7621/providers/Microsoft.AppConfiguration/configurationStores/testapp-56?api-version=2021-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "publicNetworkAccess": "Disabled"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/5a00a96c-53bd-ec82-1bd8-3ede2e17caf5?api-version=2021-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus",
        "properties": {
          "provisioningState": "Creating",
          "creationDate": "2022-02-24T04:19:32.3714189\u002B00:00",
          "endpoint": null,
          "encryption": null,
          "privateEndpointConnections": null,
          "disableLocalAuth": null,
          "softDeleteRetentionInDays": null,
          "enablePurgeProtection": null
        },
        "sku": {
          "name": "Standard"
        },
        "systemData": null,
        "id": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/Default-AppConfiguration-7621/providers/Microsoft.AppConfiguration/configurationStores/testapp-56",
        "name": "testapp-56",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/5a00a96c-53bd-ec82-1bd8-3ede2e17caf5?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/5a00a96c-53bd-ec82-1bd8-3ede2e17caf5?api-version=2021-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11929"
      },
      "ResponseBody": {
        "id": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/5a00a96c-53bd-ec82-1bd8-3ede2e17caf5",
        "name": "5a00a96c-53bd-ec82-1bd8-3ede2e17caf5",
        "status": "Succeeded",
        "error": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/Default-AppConfiguration-7621/providers/Microsoft.AppConfiguration/configurationStores/testapp-56?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022a6000619-0000-0100-0000-621707550000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11928"
      },
      "ResponseBody": {
        "type": "Microsoft.AppConfiguration/configurationStores",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded",
          "creationDate": "2022-02-24T04:19:32\u002B00:00",
          "endpoint": "https://testapp-56.azconfig.io",
          "encryption": {
            "keyVaultProperties": null
          },
          "privateEndpointConnections": null,
          "publicNetworkAccess": "Disabled",
          "disableLocalAuth": false,
          "softDeleteRetentionInDays": 7,
          "enablePurgeProtection": false
        },
        "sku": {
          "name": "standard"
        },
        "systemData": {
          "createdBy": "bd84958d-be52-466e-a83e-99a66eae9864",
          "createdByType": "Application",
          "createdAt": "2022-02-24T04:19:32\u002B00:00",
          "lastModifiedBy": "bd84958d-be52-466e-a83e-99a66eae9864",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-02-24T04:19:33\u002B00:00"
        },
        "id": "/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/default-appconfiguration-7621/providers/Microsoft.AppConfiguration/configurationStores/testapp-56",
        "name": "testapp-56",
        "tags": {}
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/Default-AppConfiguration-7621/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Link": "\u003C/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/Default-AppConfiguration-7621/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview\u0026$skipToken=testapp-56\u003E; rel=\u0022next\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11925"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.AppConfiguration/configurationStores",
            "location": "eastus",
            "properties": {
              "provisioningState": "Succeeded",
              "creationDate": "2022-02-24T04:19:36\u002B00:00",
              "endpoint": "https://testapp-2312.azconfig.io",
              "encryption": {
                "keyVaultProperties": null
              },
              "privateEndpointConnections": null,
              "publicNetworkAccess": "D[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/ab716eee-96d3-4021-9fa7-1b01da5de034/resourceGroups/Default-AppConfiguration-7621/providers/Microsoft.AppConfiguration/configurationStores?api-version=2021-10-01-preview\u0026$skipToken=testapp-56",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11924"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1807507141",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "ab716eee-96d3-4021-9fa7-1b01da5de034"
  }
}
